@{
    ViewData["Title"] = "Login";
}

<div class="container" style="display: flex; flex-direction: column;">
<form method="post" runat="server">
Email: <input type="text" id="email" name="email" runat="server" />
PassWord: <input type="text" id="password" name="password" runat="server" />
<input type="submit" value="Submit" />
</form>

</div>
